{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Fitness</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.css'%}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap"
    rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{%static 'css/style.css'%}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{%static 'css/responsive.css'%}" rel="stylesheet" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          About Fitness
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{% static 'images/about-img.png' %}" alt="">
        </div>
        <div class="detail-box">
          <p>
             Welcome to FitUp, your go-to destination for a transformative fitness experience. 
            At FitUp, we are passionate about fostering a community that embraces the power of a healthy lifestyle. 
            Our mission is to guide and inspire individuals on their fitness journey, helping them reach their goals and unlock their full potential. 
            What sets us apart is our commitment to providing expert guidance through a diverse range of workouts, from high-intensity training to yoga and strength exercises. 
            Our team of experienced fitness professionals is dedicated to supporting you at every step. We believe in a holistic approach to wellness, emphasizing not only physical fitness but also mental and emotional well-being. 
            Join our vibrant community, connect with like-minded individuals, and embark on a journey towards a healthier, happier you. 
            FitUp is more than just a fitness platform; it's a supportive space where continuous improvement, accessibility, and community engagement come together to make health and wellness a lifestyle. 
            Start your fitness adventure with us today!
          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- info section -->

  <section class="info_section layout_padding2-top">
    <div class="container">
      <div class="info_form">
        <h4>
          Our Newsletter
        </h4>
        <form action="POST">
         {% csrf_token %}
          <input type="text" placeholder="Enter your email">
          <div class="d-flex justify-content-end">
            <button>
              subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h6>
            About Fitness
          </h6>
          <p>
            one's ability to execute daily activities with optimal performance and strength with the management of disease, fatigue, and stress and reduced sedentary behavior
          </p>
        </div>
        <div class="col-md-2 offset-md-1">
          <h6>
            Menus
          </h6>
          <ul>
            <li class=" active">
              <a class="" href='home'>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="">
              <a class="" href="{%static 'about.html'%}">About </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6>
            Contact Us
          </h6>
          <div class="info_link-box">
            <a href="">
              <img src="{%static 'images/location-white.png' %}" alt="">
              <span> No.123, Koovappally</span>
            </a>
            <a href="">
              <img src="{%static 'images/call-white.png'%}" alt="">
              <span>+91 9876543210</span>
            </a>
            <a href="">
              <img src="{%static 'images/mail-white.png'%}" alt="">
              <span> fitup123@gmail.com</span>
            </a>
          </div>
          <div class="info_social">
            <div>
              <a href="">
                <img src="{%static 'images/facebook-logo-button.png'%}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{%static 'images/twitter-logo-button.png'%}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{%static 'images/linkedin.png'%}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{%static 'images/instagram.png'%}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->


  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document
        .querySelector(".custom_menu-btn")
        .classList.toggle("menu_btn-style");
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>