[{% extends "dashboardbase.html" %}
{% block title %}Nutritionist Details{% endblock %}

{% block content %}
  <h1>Nutritionist Details</h1>
  <style>
    /* Add internal CSS styles here */
    .table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

    .table th, .table td {
        padding: 8px;
        text-align: left;
        vertical-align: top;
    }

    .table thead {
        background-color: #333;
        color: #fff;
    }

    .table th {
        font-weight: bold;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tbody tr:hover {
        background-color: #ddd;
    }
  </style>
  
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Fullname</th>
          <th>Username</th>
          <th>Specialization</th>
          <th>Email</th>
          <th>Phone No</th>
          <!-- Add more fields here if needed -->
        </tr>
      </thead>
      <tbody>
        {% for nutritionist in nutritions %}
          <tr>
            <td>{{ nutritionist.full_name }}</td>
            <td>{{ nutritionist.username }}</td>
            <td>{{ nutritionist.specialization }}</td>
            <td>{{ nutritionist.email }}</td>
            <td>{{ nutritionist.phone_number }}</td>
           
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
